.bgimg{
  background-image: url('../../assets/VectorSmartObject.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.blurimg{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(6px); 
  z-index: -1;
}

.mapheader{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #363F57;
}

.coordinates{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #363F57;

}

.MapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
  
.map {
    height: 900px;
    width: 800px;
    padding: 2rem;
    border: 3px solid #363F57;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  }

.resetbtn{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #363F57;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100px;
  text-align: center;
  margin: auto ;
  user-select: none;
}

.resetbtn:active {
  transform: scale(2.1);
}